{% extends 'base.html' %}

{% block title %} PASSWORD RESET CONFIRM {% endblock %}
    {% load crispy_forms_tags %}
{% block body %}

<form action="" method="post" style="color: black">
<h3>Enter new password</h3>
<p>Please enter your new password twice so
    we can verify you typed it in correctly.</p>
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Change password"
           class="btn btn-primary">

    <a class="btn btn-warning" href="{% url 'login' %}">cancel</a>
</form>
{% endblock %}
