{% extends 'base.html' %}

{% block title %} PASSWORD RESET {% endblock %}
    {% load crispy_forms_tags %}
{% block body %}

<form action="" method="post" style="color: black">
<p>Forgot your password? Enter your email address below,
    and we'll email instructions for setting a new one.</p>
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Request password reset"
           class="btn btn-primary">

    <a class="btn btn-warning" href="{% url 'login' %}">cancel</a>
</form>
{% endblock %}
